<!DOCTYPE html>
<html ng-app="babyAnimals">
  <head>
    <meta charset="UTF-8">
    <title>Angular MVC</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    media="screen" charset="utf-8">

    <script>
      angular.module("babyAnimals", [])
      .controller("babyController", function($scope) {
        $scope.animal = "marine iguana"
        $scope.adjective = "weird and cute"
        $scope.isCute = function() {
          return $scope.adjective == "cute" || $scope.adjective == "weird and cute" ? "OMG SO CUTE" : "not cute."
        }
      })
    </script>

  </head>

  <body>
    <div class="container" ng-controller="babyController">

      <h1>My favorite <span ng-bind="adjective"></span> baby animal is: <span ng-bind="animal | uppercase"></span></h1>
      <label for="animal">Baby Animal</label>

      <!-- ng-init prepopulates stuff, sets default values -->
      <input id="animal" type="text" ng-model="animal" placeholder="FAVE ANIMAL">
      <select name="" id="adjective" ng-model="adjective">
        <option value="cute">Cute</option>
        <option value="weird">Weird</option>
        <option value="weird and cute">Weird and Cute</option>
      </select>

      <span ng-bind="isCute()"></span>

    </div>
  </body>

</html>
